.App {
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  width: auto;
}

.pair-display{
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 25px;
}

label{
  margin: 10px;
}

input[type="submit"]{
  width: 100px;
  margin: auto;
}

#fake-submit{
  width: 100px;
  margin: auto;
  background-color: lightblue;
  color: black;
  padding: 10px;
}

#fake-submit.validated:hover{
  cursor: pointer;
  background-color: cadetblue;
  color: white;
}

.unvalidated{
  cursor: not-allowed;
  /* pointer-events: none; */
}

.stakeHolder{
  display: flex;
  flex-direction: column;
}

.approval{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.approval p{
  margin: 25px;
  font-size: 100px;
  color: gray;
}

.validated.check-mark:hover{
  cursor: pointer;
  color: green;
}

.validated.x-mark:hover{
  cursor: pointer;
  color:red;
}

#selected-x{
  color:red;
}

#selected-check{
  color: green;
}

@keyframes whee {
  from {font-size: 0}
  to {font-size: 65px}
}

#foo{
  font-family: monospace;
  animation: whee 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  color: chartreuse;
}