.App {
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  width: auto;
}

.pair-display{
  display: flex;
  flex-direction: row;
  margin: auto;
}

label{
  margin: 10px;
}

input[type="submit"]{
  width: 100px;
  margin: auto;
}

#fake-submit{
  width: 100px;
  margin: auto;
  background-color: lightblue;
  color: black;
  padding: 10px;
}

#fake-submit:hover{
  cursor: pointer;
  background-color: cadetblue;
  color: white;
}

#approval{
  flex-direction: row;
}

#approval span{
  margin: 20px;
  font-size: 50px;
}

#check-mark{
  color: green;
}

#x-mark{
  color:red;
}